* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #CAD5E5;
}

.wrapper{
  height: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.container-table {
  background-color: white;
  border: 2px solid white;
  border-radius: 20px;  
  margin: 10px;
  margin-top: 20px;
  padding: 30px;
  padding-top: 30px;
  padding-left: 45px;
}

/* ------------------------------------------------ */


/* ---- Overall table style ----- */

.overall-table-container{
  border: 1.5px solid #afd3f2
}

/* --- Header of table style ---- */


.header-container{
  background: linear-gradient(#fefefe, #dae6f0) !important
}

.header-table-col{
  border: 1.5px solid #afd3f2 !important
}



.header-table-cell{
  padding: 10px 0px 10px 0px !important;
  font-size: 18px !important;
  font-weight: bold ;
  color: black;
}


/* --- Content of table style ------ */


.content-table-odd-row{
  background: #e6f4ff
}

.content-table-even-row{
  background: #ffffff
}

.content-table-cell{
  border: 1.5px solid #afd3f2 !important;
  padding: 5px 0px 5px 0px;
  font-size: 18px !important;
  font-weight: 400;
  color: black;
}

/* -- Footer of table style --------- */

.footer-container{
   display: flex;
   padding: 18px 0px 7px 0px;
   font-size: 18px;
   font-weight: normal;
   color: black;
   background: white;
}

/* --- Scrollbar of table style ------ */


.vertical-scrollbar-container{
  background: #efefef !important;
}

.vertical-scrollbar{
  background: #dae6f0 !important;
  border-color: #83abcd !important;
}

.horizontal-scrollbar-container{
  background: #efefef !important;
}

.horizontal-scrollbar{
  background: #dae6f0 !important;
  border-color: #83abcd !important;
}

.ui-triangle-button{
  background: #dae6f0 !important
}

/* ---------- Toolbar of table style --------------- */


/* Main Component */
.toolbar-search-component{
  height: auto;
  padding: 12px 0px 20px 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  background: white;
}

/* Export Files Component */
.export-files-main-component{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
}

/* Format component */

.format-main-component{
    display: flex;
    align-items: center;  
}

/* Format label component */

.format-label-component{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   margin-right: 10px;
}

/* Export format component */

.export-format-main-component{
  margin-left: 10px;
  height: 40px !important;
}

/* Export format button */

.export-format-button{
  display: flex;
  align-items: center;
  height: 40px;
  margin-right: 10px;
  background-color: #f2f2f2;
  outline: none;
}


.export-format-button:hover{
 background-color: #f8f8f8;
 border: 1px solid #c5c5c5;
 color: black;
}

/* Export format button icon */

.export-format-button-icon{
  height: 25px;
  margin-top: 2px;
  margin-left: -5px;
  margin-right: 2px;
}

/* Page selection component */
.page-options-main-component{
  margin-left: 10px;
}

/* Page option */

div.pq-grid select{
  height: 40px;
}


/* 'Show' text */
.show-single-text{
  margin-right: 10px;
}

.page-selects{
  margin-right: 10px;
}


/* filter and search bar component*/

.filter-main-component{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
}

/* Search bar */

.input-search-box{
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

/* Input search bar */

.filter-value{
  height: 30px;
  margin: 5px 5px 5px 0px;
  outline: none !important;
  border: none !important;
}


/* Search bar icon */

.search-box-icon{
  filter: opacity(50%);
  height: 30px;
  margin: 5px 2px 5px 5px;
}


/* Option for filter column */

.filter-column{
  margin-right: 10px;
  height: 40px !important;
}

/* Option for filter column with condition */

.filter-condition{
  height: 40px !important;
}


/* ---- Link ------ */


.all-cell-link{
  text-decoration-color: transparent;
}

.all-cell-link:hover{
  text-decoration-color: red;
}



/* ----- footer -----*/
.footer-container{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-between;
}



/* --- pagination container ---*/
.pagination-container {
  display: flex;
  margin-right: -5px;
}


/* --- previous button -----*/
.previous-btn-container {
  border: 2px solid transparent;
}

.previous-btn span {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 7px 14px;
}

.previous-btn-container:hover {
  background: linear-gradient(white 40%,#dbe4ed);
  border: 2px solid #afd3f2;
}

/* --- number page -------- */

.num-page{
  border: 2px solid transparent;
  padding: 7px 14px;  
}

.num-page:hover{
  background: linear-gradient(white 40%,#dbe4ed);
  border: 2px solid #afd3f2;
}

/* --- next button -------- */


.next-btn-container {
  border: 2px solid transparent;
}

.next-btn span {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 7px 14px;
}

.next-btn-container:hover {
  background: linear-gradient(white 40%,#dbe4ed);
  border: 2px solid #afd3f2;
}

/* ---- three dot --------- */

.three-dot{
  margin-left: 6px; 
  margin-right: 6px;
}

/* ---- middle insert box --- */

.page-insert-box{
  width: 40px;
  height: 35px;
  background: linear-gradient(white 40%,#9cbee2);
  border: 2px solid rgb(175, 211, 242) !important;
  text-align: center;
}

.page-insert-box:focus{
  outline: none;
}

input.disabled-input-box{
  width: 40px;
  height: 35px;
  background: white !important;
  border: 2px solid white !important;
  text-align: center;
}


/* ---- disabled class for previous, next, number page*/
.disabled:hover{
  background: none !important;
  border: 2px solid transparent !important;
}


/* ---- active class for previous, next, number page*/
.active{
  padding: 7px 14px;
  background: linear-gradient(white 40%,#dbe4ed);
  border: 2px solid rgb(175, 211, 242);
}





/*
.hidden{
  display: none
}

*/
























