*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{

  /* All related color*/

  --pure-white-color: #ffffff;
  --pure-black-color: #000000;
  --smoke-white-color: #fefefe;
  --light-grey-color: #ccc;
  --powder-blue-color: #dae6f0;
  --light-sky-blue-color: #e6f4ff;
  --light-blue-grey-color: #dbe4ed;
  --alice-blue-color: #afd3f2;
  --pastel-blue-color: #9cbee2;
  --pastel-blue-color2: #9ecaed;
  --navy-blue-color: #214382;


  /* Width */
  --width-40px: 40px;

  /* Height */

  --height-25px: 25px;
  --height-30px: 30px;
  --height-35px: 35px;
  --height-40px: 40px;


  /* Font size*/
  --min-font-size: 16px;
  --max-font-size: 18px;

  /* Font weight */
  --normal-font-weight: normal;
  --bold-font-weight: bold;



  /* Background */
  --header-bg-color: linear-gradient(var(--pure-white-color),var(--powder-blue-color));
  --odd-row-content-bg-color: var(--light-sky-blue-color);
  --even-row-content-bg-color: var(--pure-white-color);
  --btn-inside-pagination-container-bg-color-hover: linear-gradient(var(--pure-white-color) 40%, var(--powder-blue-color));
  --page-insert-box-bg-color: linear-gradient(var(--pure-white-color) 40%, var(--pastel-blue-color)) ;
  --active-btn-inside-pagination-container-background: linear-gradient(white 40%, var(--light-blue-grey-color));


  
  /* Border */
  --outside-table-border: 2px solid var(--alice-blue-color);
  --header-table-border: 1.5px solid var(--alice-blue-color);
  --content-table-border: 1.5px solid var(--alice-blue-color);
  --input-searchbox-container-border: 1px solid var(--light-grey-color);
  --btn-inside-pagination-container-border: 2px solid transparent;
  --btn-inside-pagination-container-border-hover: 2px solid var(--alice-blue-color);
  --page-insert-box-border: 2px solid var(--pastel-blue-color);
  --active-btn-inside-pagination-container-border: 2px solid var(--alice-blue-color);
  --disabled-btn-inside-pagination-container-border: 2px solid transparent;


  /* Padding */
  --toolbar-container-padding: 12px 0 20px 0;
  --header-cell-padding: 10px 0;
  --content-cell-padding: 4px 0;
  --footer-container-padding: 18px 0px 7px 0px;
  --pagination-container-padding: 0px -5px 0px 0px;
  --btn-inside-pagination-container-padding: 7px 14px;
  --active-btn-inside-pagination-container-padding: 7px 14px; 

  /* Margin */
  --spacing-inside-toolbar-container-margin: 10px;
  --input-search-box-margin: 5px 5px 5px 0;
  --input-search-box-icon-margin: 5px 2px 5px 5px;
  --three-dot-text-margin: 0 7px;


}

body {
  background-color: #CAD5E5;
}

.wrapper{
  height: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.container-table {
  background-color: white;
  border: 2px solid white;
  border-radius: 20px;  
  margin: 10px;
  margin-top: 20px;
  padding: 30px;
  padding-top: 30px;
  padding-left: 45px;
}


/* ------------------------------------------------ */


/* ---- Overall table style ----- */

.overall-table-container{
  width: 100%;
  border: var(--outside-table-border);
}

/* --- Header of table style ---- */


.header-container{
  background: var(--header-bg-color) !important;
}


.header-table-col{
  border: var(--header-table-border) !important;
}



.header-table-cell{
  padding: var(--header-cell-padding) !important;
  color: var(--pure-black-color);
  font-size: var(--max-font-size) !important;
  font-weight: var(--bold-font-weight);
}


/* --- Content of table style ------ */


.content-table-odd-row{
  background: var(--odd-row-content-bg-color);
}

.content-table-even-row{
  background: var(--even-row-content-bg-color);
}

.content-table-cell{
  border: var(--content-table-border) !important;
  padding: var(--content-cell-padding);
  color: var(--pure-black-color);
  font-size: var(--max-font-size) !important;
  font-weight: var(--normal-font-weight);
}

/* -- Footer of table style --------- */

.footer-container{
   display: flex;
   padding: var(--footer-container-padding);
   font-weight: var(--normal-font-weight);
}

/* -- scroll bar style */
.horizontal-scrollbar-container{
  background: var(--light-sky-blue-color) !important;
}

.horizontal-scrollbar{
  background: var(--powder-blue-color) !important;
  border-color: var(--navy-blue-color) !important;
}

.ui-triangle-button{
  background: var(--powder-blue-color) !important
}

/* ---------- Toolbar of table style --------------- */


/* Main Component */
.toolbar-search-component{
  padding: var(--toolbar-container-padding);
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

/* Export Files Component */
.export-files-main-component{
    display: flex;
    flex-wrap: wrap;
}

/* Format component */

.format-main-component{
    display: flex;
    align-items: center;  
}

/* Format label component */

.format-label-component{
   display: flex;
   flex-wrap: wrap;
   margin-right: var(--spacing-inside-toolbar-container-margin);
}

/* Export format component */

.export-format-main-component{  
  height: var(--height-40px) !important;
  margin-left: var(--spacing-inside-toolbar-container-margin);
}

.export-format-main-component:focus{
  outline: none;
}


/* Export format button */

.export-format-button{
  display: flex;
  align-items: center;
  height: var(--height-40px);
  margin-right: var(--spacing-inside-toolbar-container-margin);
  background-color: var(--light-sky-blue-color) !important;
  outline: none;
}




.export-format-button:focus{
  outline: none;
}

.export-format-button:hover{
  background-color: var(--powder-blue-color) !important;
  border-color: var(--light-grey-color);
  color: black;
  outline: none;
}

/* Export format button icon */

.export-format-button-icon{
  position: relative;
  top: -0.5px;
  right: 5px;
  height: 20px;
}

/* Page selection component */
.page-options-main-component{
  margin-left: var(--spacing-inside-toolbar-container-margin);
}

/* Page option */

div.pq-grid select{
  height: var(--height-40px);
}

div.pq-grid select:focus{
  outline: none;
}


/* 'Show' text */
.show-single-text{
  margin-right: var(--spacing-inside-toolbar-container-margin);
}

.page-selects{
  margin-right: var(--spacing-inside-toolbar-container-margin);
}



/* filter and search bar component*/

.filter-main-component{
  display: flex;
  flex-wrap: wrap;
}

/* Search bar */

.input-search-box{
  display: flex;
  position: relative;
  border: var(--input-searchbox-container-border);
  background-color: var(--pure-white-color);
  border-radius: 4px;
  margin-right: var(--spacing-inside-toolbar-container-margin);
}


/* Input search bar */

.filter-value{
  height: var(--height-30px);
  margin: var(--input-search-box-margin);
  outline: none !important;
  border: none !important;
}


.cross-symbol{
  position: absolute;
  filter: opacity(50%);
  font-size: 18px !important;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* Search bar icon */

.search-box-icon{
  filter: opacity(30%);
  height: var(--height-30px);
  margin: var(--input-search-box-icon-margin)
}


/* Option for filter column */

.filter-column{
  margin-right: var(--spacing-inside-toolbar-container-margin);
  height: var(--height-40px) !important;
}

/* Option for filter column with condition */

.filter-condition{
  height: var(--height-40px) !important;
}


/* ---- Link ------ */




.link-text{
  text-decoration-color: transparent;
  font-weight: var(--bold-font-weight);
  color: var(--navy-blue-color) !important;
}

.link-text:hover{
  text-decoration-color: red !important;
}



/* ----- footer -----*/
.footer-container{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: space-between;
}



/* --- pagination container ---*/
.pagination-container {
  display: flex;
  margin: var(--pagination-container-padding);
}


/* --- previous button -----*/
.previous-btn-container {
  border: var(--btn-inside-pagination-container-border);
  cursor: pointer;
}

.previous-btn span {
  display: flex;
  align-items: center;
  height: var(--height-30px);
  padding: var(--btn-inside-pagination-container-padding);
}

.previous-btn-container:hover {
  background: var(--btn-inside-pagination-container-bg-color-hover);
  border: var(--btn-inside-pagination-container-border-hover);
}

/* ---- page number container --- */
.page-number-container{
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}


/* --- number page -------- */

.num-page{
  border: var(--btn-inside-pagination-container-border);
  padding: var(--btn-inside-pagination-container-padding);
  cursor: pointer;
}

.num-page:hover{
  background: var(--btn-inside-pagination-container-bg-color-hover);
  border: var(--btn-inside-pagination-container-border-hover);
}

/* --- next button -------- */


.next-btn-container {
  border: var(--btn-inside-pagination-container-border);
  cursor: pointer;
}

.next-btn span {
  display: flex;
  align-items: center;
  height: var(--height-30px);
  padding: var(--btn-inside-pagination-container-padding);
}


.next-btn-container:hover {
  background: var(--btn-inside-pagination-container-bg-color-hover);
  border: var(--btn-inside-pagination-container-border-hover);
}



/* ---- three dot --------- */

.three-dot{
  margin: var(--three-dot-text-margin);
}

/* ---- middle insert box --- */

.page-insert-box{
  width: var(--width-40px);
  height: var(--height-35px);
  background: var(--page-insert-box-bg-color);
  border: var(--page-insert-box-border) !important;
  text-align: center;
}


.page-insert-box:focus{
  outline: none;
}


/* active class for Input search bar focus*/
.active-toolbar{
  outline: none;
  border-color: var(--pastel-blue-color2);
  box-shadow: 0 0 10px var(--pastel-blue-color2);
}


/* ---- active class for previous, next, number page*/
.active{
  padding: var(--active-btn-inside-pagination-container-padding);
  background: var(--active-btn-inside-pagination-container-background);
  border: var(--active-btn-inside-pagination-container-border);
  pointer-events: none;
}


/* --- active class for export, page options, search, filter/condition */
.disabled{
  cursor: default;
}

.disabled:hover{
  background: none;
  border: var(--disabled-btn-inside-pagination-container-border);
}

/*
.hidden{
  display: none;
}
*/


